@import "../../styles.scss";


#login-page {
  margin-left: $l-size;
  margin-right: $l-size;
}

.fa {
  font-size: 22px !important;
}

.login-text {
  font-size: 14px !important;
  font-weight: normal !important;
  line-height: 1.43 !important;
  vertical-align: middle !important;
}