* {
  box-sizing: border-box;
}

body {
  background-color: $dark-grey;
}

body > #root > div {
  height: 100vh;
  width: 100vw;
}


html {
  font-size: 62.5%; 
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
}

select {
  height: 30px !important;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.white-text {
  color: $off-white;
}

.lead {
  font-size: $m-size;
}

