@import "../../styles.scss";

// Dashboard
.total-income{
  color: $off-white
}

.display-3 {
  @media (max-width: $desktop-breakpoint) {
    font-size:$font-size-xlarge;
  }
}

// Wallet Card
.card {
  background: $off-white;
  border: $off-white;
}

.card-title{
  font-size: $font-size-large !important;
  text-align: center;
}

.card-body {
  font-size: $font-size-small !important;
}

.card__money {
  font-size: $font-size-xlarge;
  color: $green;
}

.card__money--red {
  @extend .card__money;
  color: $red;
}

.green {
  color: $green;
}

.red {
  color: $red;
}